#edit-keys--2 {
    width: 280px;
}

#edit-submit--2 {
    position: absolute;
    margin-left: -45px;
    background-color: red;
    border: none;
    background: no-repeat;
    background-image: url(/web/sites/default/files/header/lupa.png);
    margin-top: -22px;
    color: transparent;
    z-index: 1;
}



#block-searchform-2 {
  display:none;
}

#search-block-form--2{
  
      margin: auto;
    width: fit-content;
  
}

@media (max-width: 500px){
 
 #block-searchform-2 {
  display:inline;
}

#search-block-form{
  display:none;
}
  
}

.form-control::-webkit-input-placeholder { color: #DADADA; }  /* WebKit, Blink, Edge */
.form-control:-moz-placeholder { color: #DADADA; }  /* Mozilla Firefox 4 to 18 */
.form-control::-moz-placeholder { color: #DADADA; }  /* Mozilla Firefox 19+ */
.form-control:-ms-input-placeholder { color: #DADADA; }  /* Internet Explorer 10-11 */
.form-control::-ms-input-placeholder { color: #DADADA; }  /* Microsoft Edge */





#block-searchform-2 {
	padding-right: 150px;
}

.main-link:hover {
	background-color: #EDCD1F;
}

.button:first-child, .image-button:first-child {
    margin-right: -40px;
    margin-left: 0;
}

