#slick-views-noticias-slider-block-1-2-slider {
	margin: 0px 50px 0px 50px;
}
.slick__arrow {
	/* margin-top: 95px; */
}
.slick-arrow::before {
	color: green;
}
#slick-views-noticias-slider-block-1-2-slider .slick__slide.slide {
	padding: 0px 20px 0px 20px;
}